<div id="<%= dom_id message %>" class="message">
  <p>
    <% if message.user.present? %>
      <strong><%= message.user.username %>: </strong>
    <% else %>
      <strong>Content:</strong>
    <% end %>
    <%= message.content %>
  </p>
    <%= button_to "Delete", message, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "delete-button" %>

</div>
